absl-py==2.1.0
albucore==0.0.23
albumentations==2.0.5
annotated-types==0.7.0
anyio==4.8.0
astroid==3.3.9
asttokens
attrs==25.3.0
autopep8==1.7.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama
coloredlogs==15.0.1
comm 
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
debugpy 
decorator 
dill==0.3.9
easydict==1.13
exceptiongroup
executing
fastapi==0.115.11
flake8==7.1.2
flatbuffers==25.2.10
fonttools==4.56.0
h11==0.14.0
humanfriendly==10.0
idna==3.10
imageio==2.37.0
importlib_metadata
insightface==0.7.3
ipykernel
ipython
ipywidgets==8.1.5
isort==6.0.1
jax==0.5.3
jaxlib==0.5.3
jedi
joblib==1.4.2
jupyter_client
jupyter_core
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lazy_loader==0.4
matplotlib==3.10.1
matplotlib-inline
mccabe==0.7.0
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
nest_asyncio
networkx==3.4.2
numpy==1.26.2
onnx==1.17.0
onnxruntime==1.21.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt_einsum==3.4.0
packaging
parso 
pickleshare
pillow==11.1.0
platformdirs
prettytable==3.15.1
prompt_toolkit
protobuf==4.25.6
psutil
psycopg2-binary==2.9.10
pure_eval
pycodestyle==2.12.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pyflakes==3.2.0
Pygments
pylint==3.3.5
pyparsing==3.2.1
pyreadline3==3.5.4
python-dateutil
python-dotenv==1.0.1
python-multipart==0.0.20
pywin32==307
PyYAML==6.0.2
pyzmq
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
simsimd==6.2.1
six
sniffio==1.3.1
sounddevice==0.5.1
stack_data
starlette==0.46.1
stringzilla==3.12.3
sympy==1.13.3
threadpoolctl==3.5.0
tifffile==2025.2.18
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado
tqdm==4.67.1
traitlets
typing_extensions
urllib3==2.3.0
uvicorn==0.34.0
wcwidth
websockets==15.0.1
widgetsnbextension==4.0.13
zipp
